<configuration>

<system.webServer>
    <staticContent>
        <remove fileExtension=".otf" />
        <mimeMap fileExtension=".otf" mimeType="font/otf" />
        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />

        <remove fileExtension=".json" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>

    <rewrite>
      <rules>


        <rule name="index" stopProcessing="true">
          <match url="index" />
          <action type="Rewrite" url="index.html" />
        </rule>

        <rule name="allcourses" stopProcessing="true">
          <match url="allcourses" />
          <action type="Rewrite" url="allcourses.html" />
        </rule>


        <rule name="coursesdatajson" stopProcessing="true">
            <match url="course/coursesdata.json" />
            <action type="Rewrite" url="coursesdata.json" />
        </rule>

        <rule name="js" stopProcessing="true">
            <match url="course/(.*).js" />
            <action type="Rewrite" url="{R:1}.js" />
        </rule>

        <rule name="styles" stopProcessing="true">
            <match url="course/styles/(.*)" />
            <action type="Rewrite" url="styles/{R:1}" />
        </rule>

        <rule name="detailpage" stopProcessing="true">
            <match url="course/(.*)" />
            <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_URI}" negate="true" pattern="allcourses" ignoreCase="true" />
                <add input="{REQUEST_URI}" negate="true" pattern="index" ignoreCase="true" />
            </conditions>
            <action type="Rewrite" url="detail.html?id={R:1}" />
        </rule>

      </rules>
    </rewrite>
</system.webServer>
</configuration> 