

<configuration>
    <configSections>

    </configSections>
<system.webServer>
    <staticContent>
        <remove fileExtension=".otf" />
        <mimeMap fileExtension=".otf" mimeType="font/otf" />
        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />

        <remove fileExtension=".json" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>

    <rewrite>
      <rules>
        <rule name="index">
          <match url="index" />
          <action type="Rewrite" url="index.html" />
        </rule>

        <rule name="allcourses">
          <match url="allcourses" />
          <action type="Rewrite" url="allcourses.html" />
        </rule>

        <rule name="detailpage">
            <match url="course/(.*)" />
            <action type="Rewrite" url="detail.html?id={R:1}" />
        </rule>

      </rules>
    </rewrite>
</system.webServer>
</configuration> 