<configuration>

    <system.webServer>
        <staticContent>
            <remove fileExtension=".otf" />
            <mimeMap fileExtension=".otf" mimeType="font/otf" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />

            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>

        <rewrite>
        <rules>

            <rule name="Redirect to non-www" stopProcessing="true">
                <match url="(.*)" negate="false"></match>
                <action type="Redirect" url="http://nativescripting.com/{R:1}"></action>
                <conditions>
                    <add input="{HTTP_HOST}" pattern="^nativescripting\.com$" negate="true"></add>
                </conditions>
            </rule>

            <rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
                <match url="(.*)" />
                <conditions logicalGrouping="MatchAny">
                    <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
                </conditions>
                <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
            </rule>

            <rule name="index" stopProcessing="true">
            <match url="index" />
            <action type="Rewrite" url="index.html" />
            </rule>

            <rule name="allcourses" stopProcessing="true">
            <match url="allcourses" />
            <action type="Rewrite" url="allcourses.html" />
            </rule>

            <rule name="training" stopProcessing="true">
            <match url="training" />
            <action type="Rewrite" url="training.html" />
            </rule>

            <rule name="about" stopProcessing="true">
            <match url="about" />
            <action type="Rewrite" url="about.html" />
            </rule>

            <rule name="coursesdatajson" stopProcessing="true">
                <match url="course/coursesdata.json" />
                <action type="Rewrite" url="coursesdata.json" />
            </rule>

            <rule name="js" stopProcessing="true">
                <match url="course/(.*).js" />
                <action type="Rewrite" url="{R:1}.js" />
            </rule>

            <rule name="styles" stopProcessing="true">
                <match url="course/styles/(.*)" />
                <action type="Rewrite" url="styles/{R:1}" />
            </rule>

            <rule name="detailpage" stopProcessing="true">
                <match url="course/(.*)" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_URI}" negate="true" pattern="allcourses" ignoreCase="true" />
                    <add input="{REQUEST_URI}" negate="true" pattern="index" ignoreCase="true" />
                </conditions>
                <action type="Rewrite" url="{R:1}.html" />
            </rule>

        </rules>
        </rewrite>
    </system.webServer>

    <location path="img">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="24:00:00" />
            </staticContent>
        </system.webServer>
    </location>
    <location path="styles/fonts">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
            </staticContent>
        </system.webServer>
    </location>
    <location path="styles">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="24:00:00" />
            </staticContent>
        </system.webServer>
    </location>
    <location path="scripts">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="24:00:00" />
            </staticContent>
        </system.webServer>
    </location>
    <location path="node_modules/jquery/dist/jquery.min.js">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
            </staticContent>
        </system.webServer>
    </location>
    <location path="node_modules/knockout/build/output/knockout-latest.js">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
            </staticContent>
        </system.webServer>
    </location>
    <location path="coursesdata.json">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
            </staticContent>
        </system.webServer>
    </location>

</configuration> 