<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date,Time,Extension,Size" />
        <!--handlers>
           <clear />
            <add 
                name="StaticFile" 
                path="*" verb="*" 
                modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" 
                resourceType="Either" 
                requireAccess="Read" />
        </handlers-->
        <staticContent>
            <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
                        <remove fileExtension=".docx" />
            <mimeMap fileExtension=".docx" mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
        </staticContent>
    </system.webServer>
</configuration>